<footer id="fh5co-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="fh5co-footer-widget">
                    <h2 class="fh5co-footer-logo">Wonders Beyond Limits</h2>
                    <p>
                        <b>WondersBeyondLimits</b> tells stories in every challenge within yourself. 
                        There are beautiful things you can achieve if you do a hard work and persistence in doing something despite of the difficulty. 
                        Through this sharing, don't lose hope to try your best to reach your own goal and ended saying, it is "Worth It!"
                    </p>
                </div>
                <div class="fh5co-footer-widget">
                    <ul class="fh5co-social">
                        <li>
                            <a href="#">
                                <i class="icon-facebook">
                                </i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-twitter">
                                </i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-instagram">
                                </i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-linkedin">
                                </i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-youtube">
                                </i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="fh5co-footer-widget top-level">
                    <h4 class="fh5co-footer-lead ">
                        Company
                    </h4>
                    <ul>
                        <li>
                            <a href="#">
                                About
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Contact
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                News
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Support
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Career
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="visible-sm-block clearfix">
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="fh5co-footer-widget top-level">
                    <h4 class="fh5co-footer-lead">
                        Features
                    </h4>
                    <ul class="fh5co-list-check">
                        <li>
                            <a href="#">
                                Lorem ipsum dolor.
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Ipsum mollitia dolore.
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Eius similique in.
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Aspernatur similique nesciunt.
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Laboriosam ad commodi.
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="fh5co-footer-widget top-level">
                    <h4 class="fh5co-footer-lead ">
                        Products
                    </h4>
                    <ul class="fh5co-list-check">
                        <li>
                            <a href="#">
                                Lorem ipsum dolor.
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Ipsum mollitia dolore.
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Eius similique in.
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Aspernatur similique nesciunt.
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Laboriosam ad commodi.
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row fh5co-row-padded fh5co-copyright">
            <div class="col-md-5">
                <p>
                    <small>
                        <!--                                <a href="#">
                                                            About Us
                                                        </a>-->
                        © Wonders Beyond Limits. All Rights Reserved. 
                        <br> Designed by: <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a>                                
                    </small>
                </p>
            </div>
        </div>
    </div>
</footer>