<header id="fh5co-header" role="banner">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <!-- Mobile Toggle Menu Button -->
                <a aria-controls="navbar" aria-expanded="false" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-target="#fh5co-navbar" data-toggle="collapse" href="#">
                    <i>
                    </i>
                </a>
                <a class="navbar-brand" href="index.html">
                    Wonders Beyond Limits
                </a>
            </div>
            <div class="navbar-collapse collapse" id="fh5co-navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/"><span>HOME <span class="border"></span></span></a></li>
                    <li><a href="activities"><span>ADVENTURES <span class="border"></span></span></a></li>
                    <li><a href="travel-blog"><span>BLOG <span class="border"></span></span></a></li>
                    <li><a href="about-us"><span>ABOUT US <span class="border"></span></span></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>